/* Imports */
@import url("https://use.typekit.net/sla5yzn.css");

/* --------------- General --------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background-color: rgba(255, 151, 144, .99);
}
img::selection, svg::selection {
  background-color: rgba(255, 151, 144, 0);
}
.no-scroll {
  overflow: hidden; 
}

/* ------- Font ------- */
body {
  font-family: azo-sans-web, sans-serif;
  overflow-x: hidden;
}

/* ------- Colors ------- */
:root {
  --light-blue: #A5E4EA;
  --dark-blue: #062935;
  --pink: #FF9790;
}
/* ------- Text Colors ------- */
.text-blue {
  color: var(--dark-blue);
}
.text-white {
  color: white;
}

/* ------- Fonts ------- */
.h1, .h2 {
  font-weight: 900;
}
.h1 {
  font-size: 3.2rem;
  line-height: 3.4rem;
}
.h2 {
  font-size: 1.4rem;
}
.p {
  font-size: 1rem;
  line-height: 1.8rem;
}
.fw-bold {
  font-weight: 700;
}
.text-small {
  font-size: .8rem;
}

@media (max-width: 991px) {
  .h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  .h2 {
    font-size: 1.7rem;
  }
}
.text-center {
  text-align: center;
}

/* ------- Padding & Margin ------- */
/* Top */
.pt-8 {
  padding-top: .5rem;
}
.pt-16 {
  padding-top: 1rem;
}
.pt-24 {
  padding-top: 1.5rem;
}
.pt-32 {
  padding-top: 2rem;
}
.pt-48 {
  padding-top: 3rem;
}
.pt-60 {
  padding-top: 3.75rem;
}
.pt-80 {
  padding-top: 5rem;
}
.pt-120 {
  padding-top: 7.5rem;
}

/* Bottom */
.pb-8 {
  padding-bottom: .5rem;
}
.pb-16 {
  padding-bottom: 1rem;
}
.pb-24 {
  padding-bottom: 1.5rem;
}
.pb-32 {
  padding-bottom: 2rem;
}
.pb-48 {
  padding-bottom: 3rem;
}
.pb-60 {
  padding-bottom: 3.75rem;
}
.pb-80 {
  padding-bottom: 5rem;
}
.pb-120 {
  padding-bottom: 7.5rem;
}

/* Margin */
.mb-8 {
  margin-bottom: .5rem;
}
.mb-16 {
  margin-bottom: 1rem;
}
.mb-24 {
  margin-bottom: 1.5rem;
}
.mb-32 {
  margin-bottom: 2rem;
}
.mb-48 {
  margin-bottom: 3rem;
}
.mb-60 {
  margin-bottom: 3.75rem;
}
.mb-80 {
  margin-bottom: 5rem;
}
.mb-120 {
  margin-bottom: 7.5rem;
}

@media (max-width: 991px) {

  /* Top Mobile */
  .pt-xs-0 {
    padding-top: 0;
  }
  .pt-xs-8 {
    padding-top: .5rem;
  }
  .pt-xs-16 {
    padding-top: 1rem;
  }
  .pt-xs-24 {
    padding-top: 1.5rem;
  }
  .pt-xs-32 {
    padding-top: 2rem;
  }
  .pt-xs-48 {
    padding-top: 3rem;
  }
  .pt-xs-60 {
    padding-top: 3.75rem;
  }
  .pt-xs-84 {
    padding-top: 5.25rem;
  }

  /* Bottom Mobile */
  .pb-xs-0 {
    padding-bottom: 0;
  }
  .pb-xs-8 {
    padding-bottom: .5rem;
  }
  .pb-xs-16 {
    padding-bottom: 1rem;
  }
  .pb-xs-24 {
    padding-bottom: 1.5rem;
  }
  .pb-xs-32 {
    padding-bottom: 2rem;
  }
  .pb-xs-48 {
    padding-bottom: 3rem;
  }
  .pb-xs-60 {
    padding-bottom: 3.75rem;
  }
  .pb-xs-84 {
    padding-bottom: 5.25rem;
  }

  /* Margin Mobile */
  .mb-xs-0 {
    margin-bottom: 0;
  }
  .mb-xs-8 {
    margin-bottom: .5rem;
  }
  .mb-xs-16 {
    margin-bottom: 1rem;
  }
  .mb-xs-24 {
    margin-bottom: 1.5rem;
  }
  .mb-xs-32 {
    margin-bottom: 2rem;
  }
  .mb-xs-48 {
    margin-bottom: 3rem;
  }
  .mb-xs-60 {
    margin-bottom: 3.75rem;
  } 
}

/* ------- Navigation ------- */
.nav__wrapper {
  position: relative;
  z-index: 10;
}
.nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}
.nav__logo-wrapper {
  background-color: white;
  clip-path: url(#logoPath);
  position: relative;
  width: 237px;
  height: 98px;
  z-index: 10;
}
.nav__logo {
  width: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.nav__items {
  display: flex;
  justify-content: space-between;
  width: 45%;
  list-style-type: none;
  align-items: center;
}
.nav__items.open {
  flex-direction: column;
  height: 95vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-around;
  left: 0;
  top: 0;
  background: url(/img/Header_Background.svg);
  background-size: cover;
  background-position: bottom;
  z-index: 5;
  padding: 25vh 0;
  font-size: 1.3rem;
}
.nav__overlay {
  height: 100vh;
  width: 100vw;
  z-index: 8;
  background-color: rgba(0, 0, 0, .6);
  position: fixed;
  display: none;
}
.nav__overlay.active {
  display: block;
}
@media (max-width: 991px) {
  .nav__items {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .nav__items {
    display: none;
  }
}

.nav__items a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.nav__items li:last-of-type a {
  background-color: var(--pink);
}
/* Responsive Toggle */
.nav__toggle {
  z-index: 25;
  cursor: pointer;
  transform: translate3d(0, 2.6rem, 0);
  transition: .3s;
  display: none;
  z-index: 10;
  position: absolute;
  right: 0;
}
@media (max-width: 767px) {
  .nav__toggle {
    display: block;
  }
}

/* Toggle Icon */
.nav__toggle-icon {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 1.3rem;
  height: 1.1rem;
  background: transparent;
  border-top: 3px solid;
  border-bottom: 3px solid;
  color: white;
  font-size: 0;
  transition: all .25s ease-in-out;
}
.nav__toggle-icon:before,
.nav__toggle-icon:after {
  content: '';
  display: block;
  width: 100%;
  height: 3px; 
  position: absolute;
  top: 50%;
  left: 50%;
  background: currentColor;
  transform: translate(-50%, -50%);
  transition: transform .25s ease-in-out;
} 
.nav__toggle-icon.is-active {
  border-color: transparent;
}
.nav__toggle-icon.is-active:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.nav__toggle-icon.is-active:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
button {
  border: none;
  cursor: pointer;
  outline: none;
}

/* --------------- Homepage --------------- */
/* Header */
.header {
  display: flex;
  align-items: center;
  background: url(/img/Header_Background.svg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}
.header--large {
  height: 97vh;
}
.header--small {
  min-height: 40vh;
}
.header__container {
  z-index: 1;
}
.header__text-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 95%;
}
.header__title {
  position: relative;
  z-index: 1;
}
.header__title::after {
  content:'';
  background-image: url(/img/Letter_H.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: -1;
  transform: translate3d(-41px, -25px, 0);
}
.header__image-col {
  display: flex;
  justify-content: flex-end;
}
.header__image {
  max-width: 95%;
}
.header__bg-icon {
  position: absolute;
  z-index: 0;
  pointer-events: none;
}
.header__bg-icon.tree {
  max-width: 140px;
  bottom: 0;
  left: 0;
  transform: translate3d(30px, -40px, 0);
}
.header__bg-icon.cloud {
  max-width: 140px;
  top: 0;
  left: 0;
  transform: translate3d(-30px, 65px, 0);
}
.header__bg-icon.circle-first {
  max-width: 50px;
  top: 0;
  left: 0;
  transform: translate3d(32vw, 80px, 0);
}
.header__bg-icon.figure-first {
  max-width: 140px;
  top: 0;
  left: 0;
  transform: translate3d(36vw, -70px, 0);
}
.header__bg-icon.circle-second {
  max-width: 120px;
  bottom: 0;
  left: 0;
  transform: translate3d(42vw, 40%, 0);
}
.header__bg-icon.beans {
  position: absolute;
  max-width: 140px;
  top: 0;
  right: 0;
  transform: translate3d(-38vw, 140px, 0);
}
.header__bg-icon.flowers {
  position: absolute;
  max-width: 160px;
  top: 0;
  right: 0;
  transform: translate3d(20%, -10%, 0);
}
.header__bg-icon.figure-second {
  position: absolute;
  max-width: 130px;
  bottom: 0;
  right: 0;
  transform: translate3d(25%, -40vh, 0);
}

/* Missie */
.mission__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mission__card:nth-child(1)::after {
  content:'';
  background: url(/img/Mission_Background_1.svg);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
  height: 130%;
  width: 130%;
  position: absolute;
  top: -15%;
  left: -15%;
  z-index: -1;
}
.mission__card:nth-child(2)::after {
  content:'';
  background: url(/img/Mission_Background_2.svg);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
  height: 130%;
  width: 130%;
  position: absolute;
  top: -15%;
  left: -15%;
  z-index: -1;
}
.mission__card:nth-child(3)::after {
  content:'';
  background: url(/img/Mission_Background_3.svg);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
  height: 130%;
  width: 130%;
  position: absolute;
  top: -15%;
  left: -15%;
  z-index: -1;
}
.mission__card__icon {
  max-width: 80px;
  margin-bottom: 1rem;
  padding-top: 3rem;
}
.mission__card__text {
  width: 70%;
  text-align: center;
}

/* Assortiment */
.products__section {
  background-color: #F8F8F8;
}
.product__list {
  line-height: 1.8rem;
  margin-left: 18px;
}
.product {
  position: relative;
  height: 283px;
}
.product__wrapper {
  background-color: #E8F5F6;
  clip-path: url(#productPath);
  position: relative;
  width: 460px;
  height: 283px;
}
#productPath {
  transform: scale(.6);
}
.product__img {
  max-width: 95%;
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.product__btn {
  background-color: var(--pink);
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
  padding: .9rem 2.1rem;
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate3d(20%, 44%, 0);
  clip-path: url(#btnPath);
  transition: .2s;
}
.product__btn:hover {
  transform: scale(1.05) translate3d(20%, 44%, 0);
  transition: .2s;
}
#btnPath {
  transform: scale(.65);
}
.product__btn i {
  opacity: .5;
}

/* Footer */
.footer {
  background-color: var(--dark-blue);
}
@media (max-width: 767px) {
  .footer {
    text-align: center;
  }
}
.footer li {
  list-style-type: none;
  margin-bottom: .4rem;
}
.footer li:last-of-type {
  margin-bottom: 0;
}
.footer li a {
  text-decoration: none;
  color: inherit;
}
.footer li a:hover {
  text-decoration: underline;
}
.footer i {
  margin-right: .5rem;
}
.footer .footer__socials i {
  font-size: 1.3rem;
  margin-right: .7rem;
}
.footer__logo {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .footer__logo {
    display: none;
  }
}
.footer__logo img {
  max-width: 80%;
}
.footer__small-text {
  color: #546C74;
  font-size: .8rem;
}
.footer__small-text a {
  color: inherit;
  text-decoration: none;
}
.footer__small-text__links a:first-of-type {
  margin-right: 1rem;
}
.footer__small-text__credits {
  text-align: center;
}

/* ------- FAQ Pagina ------- */
.back-btn {
  text-decoration: none;
}
.back-btn i {
  opacity: .5;
  transition: .2s;
  transform: translate3d(0, 2px, 0);
}
.back-btn:hover i {
  opacity: 1;
  transform: translate3d(-5px, 2px, 0);
  transition: .2s;
}
.new-text {
  color: var(--pink);
  font-size: .9rem;
}
.ingredients li {
  list-style-type: none;
  border-bottom: 1px solid #D1D1D1;
  display: flex;
  justify-content: space-between;
  font-size: .9rem;
  padding: .3rem 0;
}
.ingredients li:first-of-type {
  border-bottom: 2px solid #D1D1D1;
  font-weight: 700;
}
.ingredients__indent {
  padding-left: 1.1rem;
}